<!DOCTYPE html>
<html>
  <head>
    <title>Şehir Koordinat Bilgileri</title>
    <link rel="stylesheet" href="/leaflet.css" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <form id="form">
      <select name="countries" id="countries">
        <option value="" selected disabled hidden>Please, select a country</option>
      </select>
      <select name="cities" id="cities">
      </select>
    </form>
    <div id="map"></div>
    <div id="weather-records"></div>

    <script src="/leaflet.js"></script>
    <script src="/axios.min.js"></script>
    <script src="/scripts/app.js"></script>
  </body>
</html>
