<!DOCTYPE html>
<html>
  <head>
    <title>Şehir Koordinat Bilgileri</title>
    <link rel="stylesheet" href="/leaflet.css" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <form id="form">
      <label for="city"></label>
      <input type="text" name="city" id="city" required />
      <button type="submit">Gönder</button>
    </form>
    <div id="map"></div>
    <div id="weather-records">
      <ul></ul>
    </div>

    <script src="/leaflet.js"></script>
    <script src="/axios.min.js"></script>
    <script src="/scripts/app.js"></script>
  </body>
</html>
