@import "./nav.css";
@import "./weather.css";
@import "./map.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: rgb(170, 170, 170)
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: min-content auto;
  gap: 15px;
  padding: 10px;
  background-color: #0b131fff;
}
