* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#map {
  height: 600px;
  z-index: 1;
}
body {
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.dropdown-menu {
  background-color: red;
  width: 300px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  width: 100%;
  background-color: rgb(107, 107, 207);
  max-height: 495px;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 10px;
  position: absolute;
  z-index: 10;
}

.active {
  display: block;
}

.selected-item {
  position: relative;
}

svg {
  width: 0.9rem;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-55%);
  fill: gray;
  cursor: pointer;
}

.search-input {
  padding: 10px 10px 5px 10px;
}

.selected-item input,
.search-input input {
  width: 100%;
  padding: 5px 7px;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
}

.selected-item input {
  cursor: pointer;
}

.dropdown-content .dropdown-list {
  list-style: none;
}

.dropdown-content .dropdown-list li {
  padding: 5px 10px;
}

.dropdown-content .dropdown-list li:hover {
  background-color: red;
}
